.home-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
  height: 90vh;
  background-size: cover;
  padding: 15px;
  color: #ffffff;
  font-family: 'Roboto';
}
.viewJobs {
  background-color: #4f46e5;
  border-radius: 4px;
  padding: 5px;
  color: white;
  font-size: 20px;
  font-family: 'Roboto';
  display: flex;
  height: 40px;
}
@media (min-width: 580px) {
  .home-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  }
  .text-container {
    width: 400px;
    padding-left: 20px;
  }
  .heading-home {
    font-size: 40px;
    font-weight: 800;
  }
  .para-heading {
    font-size: 25px;
  }
}
