.loader-container {
  display: flex;
  align-items: Center;
  justify-content: Center;
}
.success {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  width: 100%;
  height: 100%;
  padding: 15px;
  background-size: cover;
}
